#main {
  max-width: 1200px;
  margin: 0 auto;
}
.hvid p {
  color: white;
  background-color: white;
}
@media screen and (max-width: 980px) {
  .hvid p {
    height: 100px;
  }
}
.rubrik h1 {
  font-family: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-block: 10px;
  font-size: 100px;
 
  font-weight: 400;
}

.rubrik {
  margin-right: 32px;
}
#filtrering {
 
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 20px;
  
}



  #filtrering button {
  padding-block: 10px;
  padding-inline: 40px;
  border: 0;
  background-color: #fc5600;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
  text-align: center;
  font-family: 'Poppins', sans-serif;
} 

.valgt {
  background-color: white;
}

#filtrering :hover {
  text-decoration: underline;
}

.knap {
  display: flex;
justify-content: flex-start;
}

.knap button {
  padding-block: 7px;
  padding-inline: 40px;
  border: none;
  background-color: #fc5600;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 52px;
  font-family: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.knap :hover {
  text-decoration: underline;
}
.fodboldcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: white;
  padding-inline: 32px;
  gap: 30px;
  padding-block: 22px;
}
#hold {
  box-shadow: 9px 16px 21px -4px rgb(0 0 0 / 30%);
  background-color: white;
  color: black;
  padding-bottom: 10px;
  padding-inline: 20px;
}
#hold h2 {
  color: #fc5600;
  text-align: center;
  font-size: 26px;
padding-top: 10px;
padding-right: 32px;
}

/* #hold :hover { 
  box-shadow: 9px 16px 80px -4px rgb(0 0 0 / 30%);  
} */




#popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000088;
  max-width: 1700vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10;
}

#popup article {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 55%;
  background-color: white;
  color: black;
  padding:20px;
  border-radius: 10px;
  gap: 20px;
  margin-block: 20px;
}

#popup article p {
  letter-spacing: none;
}

#popup article img {
  width: 80%;
  
}

#popup article h2 {
  color: #fc5600;
  text-align: center;
}

/* #popup .artikel:nth-child(2n + 1) {
  background-color: #d1bc92;
} */
